@page "/Login"
@page "/"
@layout LoginLayout

<Title>Вход</Title>
<AuthorizeView>
    <Authorized>
        <RedirectTo TargetUrl="/Profile" />
    </Authorized>
    <NotAuthorized>
        <RadzenContent Container="main">
            <ChildContent>
                <div class="row">
                    <div class="col-md-12">

                        <MudText Align="Align.Center" Typo="Typo.h5" Class="mb-10">Вход в аккаунт</MudText>

                        <MudTextField Label="Почта" @bind-Value="@Email" Immediate="true"
                                      Class="mt-5" InputType="InputType.Email" Variant="MudBlazor.Variant.Outlined" Required="true"
                                      RequiredError="Поле обязательно к заполнению" />

                        <MudTextField Label="Пароль" @bind-Value="@Password" Immediate="true"
                                      Class="mt-5" InputType="InputType.Password" Variant="MudBlazor.Variant.Outlined" Required="true"
                                      RequiredError="Поле обязательно к заполнению" />


                        <div class="row footer">

                            <RadzenButton Click="LogIn" Text="Войти" />
                        </div>
                    </div>
                </div>

            </ChildContent>
        </RadzenContent>
    </NotAuthorized>
</AuthorizeView>

