@page "/Login"
@page "/"

<Title>Вход</Title>
<AuthorizeView>
    <Authorized>
        <RedirectTo TargetUrl="/Order"/>
    </Authorized>
    <NotAuthorized>
        <MudText Align="Align.Center" Typo="Typo.h5" Class="mb-10">Вход в аккаунт</MudText>
       
        <MudTextField Label="Почта" @bind-Value="@Email" Immediate="true"
                      Class="mt-5" InputType="InputType.Email" Variant="MudBlazor.Variant.Outlined" Required="true"
                      RequiredError="Поле обязательно к заполнению" />

        <MudTextField Label="Пароль" @bind-Value="@Password" Immediate="true"
                      Class="mt-5" InputType="InputType.Password" Variant="MudBlazor.Variant.Outlined" Required="true"
                      RequiredError="Поле обязательно к заполнению" />

       

       <RadzenButton Click="LogIn" Text="Войти"/>

    </NotAuthorized>
</AuthorizeView>

