<footer class="section-footer border-top">
    <div class="container">
        <section class="footer-top  padding-y">
            <div class="row">
                <aside class="col-md-4 col-12">
                    <article class="mr-md-4">
                        <h5 class="title">Контакты</h5>
                        <ul class="list-icon">
                            <li> <i class="icon fa fa-map-marker"> </i>Россия, Москва, улица Кутузовская, дом 32 </li>
                            <li> <i class="icon fa fa-envelope"> </i> admin@blazorshop.com </li>
                            <li> <i class="icon fa fa-phone"> </i> (495) 800-88-99</li>
                            <li> <i class="icon fa fa-clock"> </i> 24/7 </li>
                        </ul>
                    </article>
                </aside>
                <aside class="col-md col-6">
                    <h5 class="title">Информация</h5>
                    <ul class="list-unstyled">
                        <li> <a href="#">О нас</a></li>
                        <li> <a href="#">Карьера</a></li>
                        <li> <a href="#">Найти в магазине</a></li>
                        <li> <a href="#">Правила</a></li>
                    </ul>
                </aside>
               @* <aside class="col-md col-6">
                    <h5 class="title">My Account</h5>
                    <ul class="list-unstyled">
                        <li> <a href="/account/settings"> Account Settings </a></li>
                        <li> <a href="/orders"> My Orders </a></li>
                        <li> <a href="/wishlist"> My Wishlist </a></li>
                    </ul>
                </aside>*@
                <aside class="col-md-4 col-12">
                    <h5 class="title">Подписка на новости</h5>
                    <p> Подпишитесь на рассылку о новых спецпредложениях. </p>

                    <form class="form-inline mb-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Email" />
                            <span class="input-group-append">
                                <button class="btn ml-2 btn-warning"> Подписаться </button>
                            </span>
                        </div>
                    </form>

                    <p class="text-black-50 mb-2">Подпишитесь на нас в соц. сетях</p>
                    <div>
                        <a href="#" class="btn btn-icon btn-light"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="btn btn-icon btn-light"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="btn btn-icon btn-light"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="btn btn-icon btn-light"><i class="fab fa-youtube"></i></a>
                    </div>

                </aside>
            </div>
        </section>

     @*   <section class="footer-bottom border-top row">
            <div class="col-md-6">
                <p class="mb-0">
                    <a href="">Terms and Conditions</a> |
                    <a href="">Privacy</a> |
                    <a href="">Cookies</a>
                </p>
            </div>
            <div class="col-md-6 text-md-right">
                <a href="https://github.com/kalintsenkov/BlazorShop" target="_blank"><i class="fab fa-github"></i> Open Source </a>
            </div>
        </section>*@
    </div>
</footer>