@page "/api/order/PayOrder/{Id:guid}"
@using DataBaseService.Services
@inject OrderService orderService

<section class="section-pagetop bg">
    <div class="container text-center">
        <h1 class="title-page text-success">
            <i class="fas fa-check-circle"></i>
        </h1>
        <h1 class="title-page">
            Спасибо за ваш заказ!
        </h1>
        <h5 class="text-muted">
            Ваш заказ #@OrderNumber, оплачен!
        </h5>

        <br />

        @*<a class="btn btn-primary" href="/order/details/@Id"> Order details </a>*@
        <a class="btn btn-outline-primary-light" href="/"> На главную страницу </a>
    </div>
</section>

@code {
    [Parameter]
    public Guid Id { get; set; }

    public int OrderNumber { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var order = await orderService.GetOrderById(Id);
        OrderNumber = order.OrderNumber;

        order.payementStatus = GuitarStarBackOffice.Shared.PayementStatus.Payed;
        await orderService.UpdateOrder(order);
    }
}
