@inherits LayoutComponentBase
@inject CustomAuthStateProvider UserSession
@inject NavigationManager NavigationManager
<PageTitle>GuitarStarBackOffice.ServerSide</PageTitle>

<RadzenDialog />
<RadzenNotification />


<MudThemeProvider />
<MudDialogProvider CloseButton="true" DisableBackdropClick="true" />
<MudSnackbarProvider />

<AuthorizeView>
    <Authorized>
        <RadzenLayout>
            <ChildContent>
                <RadzenHeader>
                    <ChildContent>
                        <div class="row justify-content-start align-items-center">
                            <div class="col-6 d-flex align-items-center">
                                <RadzenSidebarToggle Click="@ToggleNavMenu">  </RadzenSidebarToggle>
                                <RadzenLabel Text="Информационная система Guitar Star"></RadzenLabel>
                            </div>
                            <div class="col-6 text-right">
                            </div>
                        </div>
                    </ChildContent>
                </RadzenHeader>

                <RadzenBody @ref="body0">
                    <ChildContent>
                        <RadzenContentContainer Name="main">
                            @Body
                        </RadzenContentContainer>
                    </ChildContent>
                </RadzenBody>

                <RadzenSidebar @ref="SideBar0">
                    <ChildContent>
                        <RadzenPanelMenu>
<AuthorizeView Roles="Администратор, Сотрудник отдела кадров, Бухгалтер" Context="_context">
    <Authorized>
        <RadzenPanelMenuItem Text="Сотрудники" Path="Emp" />
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Администратор, Сотрудник отдела кадров, Бухгалтер" Context="_context">
    <Authorized>
        <RadzenPanelMenuItem Text="Должности" Path="Post" />
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Администратор, Сотрудник склада" Context="_context">
    <Authorized>
        <RadzenPanelMenuItem Text="Поставщики" Path="Supplier" />
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Администратор, Сотрудник склада" Context="_context">
    <Authorized>
        <RadzenPanelMenuItem Text="Склады" Path="WareHouse" />
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Администратор, Сотрудник склада, Сотрудник отдела продаж" Context="_context">
    <Authorized>
        <RadzenPanelMenuItem Text="Категория" Path="Category" />
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Администратор, Сотрудник склада, Сотрудник отдела продаж" Context="_context">
    <Authorized>
        <RadzenPanelMenuItem Text="Товары" Path="Product" />
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Администратор, Сотрудник отдела продаж, Бухгалтер" Context="_context">
    <Authorized>
        <RadzenPanelMenuItem Text="Заказы" Path="Order" />
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Администратор, Бухгалтер, Сотрудник отдела продаж" Context="_context">
    <Authorized>
        <RadzenPanelMenuItem Text="Статистика" Path="Stats" />
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Администратор" Context="_context">
    <Authorized>
        <RadzenPanelMenuItem Text="Администрирование базы данных" Path="admin" />
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Администратор" Context="_context">
    <Authorized>
        <RadzenPanelMenuItem Text="История изменений данных сотрудников" Path="EmployeeHistory" />
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Администратор" Context="_context">
    <Authorized>
        <RadzenPanelMenuItem Text="История изменений данных наименований" Path="ProductHistoryDir" />
    </Authorized>
</AuthorizeView>

<AuthorizeView Context="_context">
    <Authorized>
            <MudButton Color="Color.Primary" OnClick="@Logout"> Выход из аккаунта</MudButton>
    </Authorized>
</AuthorizeView>
@* <MudButton Color="Color.Warning" OnClick="@Logout"> Выход из аккаунта</MudButton>
*@

                        </RadzenPanelMenu>
                    </ChildContent>
                </RadzenSidebar>
            </ChildContent>
        </RadzenLayout>
    </Authorized>
    <NotAuthorized>
        <RadzenBody @ref="body0">
            <ChildContent>
                <RadzenContentContainer Name="main">
                    @Body
                </RadzenContentContainer>
            </ChildContent>
        </RadzenBody>
    </NotAuthorized>
</AuthorizeView>


@code {
    private bool collapseNavMenu = true;
    
    protected RadzenBody? body0;
    protected RadzenSidebar? SideBar0;

    protected async System.Threading.Tasks.Task ToggleNavMenu(dynamic args)
    {
        await InvokeAsync(() =>
        {
            SideBar0.Toggle();
        });
        await InvokeAsync(() =>
        {
            body0.Toggle();
        });
    }
    
    private async Task Logout(){
        await UserSession.FinishSession();
        NavigationManager.NavigateTo("/Login");
    }
 

}