@inherits LayoutComponentBase
@inject CustomAuthStateProvider UserSession
@inject NavigationManager NavigationManager
<PageTitle>GuitarStarBackOffice.ServerSide</PageTitle>

<RadzenDialog />
<RadzenNotification />


<MudThemeProvider />
<MudDialogProvider CloseButton="true" DisableBackdropClick="true" />
<MudSnackbarProvider />

<AuthorizeView>
    <Authorized>
        <RadzenLayout>
            <ChildContent>
                <RadzenHeader>
                    <ChildContent>
                        <div class="row justify-content-start align-items-center">
                            <div class="col-6 d-flex align-items-center">
                                <RadzenSidebarToggle Click="@ToggleNavMenu">  </RadzenSidebarToggle>
                                <RadzenLabel Text="Информационная система Guitar Star"></RadzenLabel>
                                <MudButton Color="Color.Warning" OnClick="@Logout"> Выход из аккаунта</MudButton>
                            </div>
                            <div class="col-6 text-right">
                            </div>
                        </div>
                    </ChildContent>
                </RadzenHeader>

                <RadzenBody @ref="body0">
                    <ChildContent>
                        <RadzenContentContainer Name="main">
                            @Body
                        </RadzenContentContainer>
                    </ChildContent>
                </RadzenBody>

                <RadzenSidebar @ref="SideBar0">
                    <ChildContent>
                        <RadzenPanelMenu>
                            <RadzenPanelMenuItem Text="Сотрудники" Path="Emp" />
                            <RadzenPanelMenuItem Text="Должности" Path="Post" />
                            <RadzenPanelMenuItem Text="Поставщики" Path="Supplier" />
                            <RadzenPanelMenuItem Text="Склады" Path="WareHouse" />
                            <RadzenPanelMenuItem Text="Категория" Path="Category" />
                            <RadzenPanelMenuItem Text="Товары" Path="Product" />
                            <RadzenPanelMenuItem Text="Заказ" Path="Order" />
                            <RadzenPanelMenuItem Text="Статистика" Path="Stats" />
                        </RadzenPanelMenu>
                    </ChildContent>
                </RadzenSidebar>
            </ChildContent>
        </RadzenLayout>
    </Authorized>
    <NotAuthorized>
        <RadzenBody @ref="body0">
            <ChildContent>
                <RadzenContentContainer Name="main">
                    @Body
                </RadzenContentContainer>
            </ChildContent>
        </RadzenBody>
    </NotAuthorized>
</AuthorizeView>


@code {
    private bool collapseNavMenu = true;
    
    protected RadzenBody? body0;
    protected RadzenSidebar? SideBar0;

    protected async System.Threading.Tasks.Task ToggleNavMenu(dynamic args)
    {
        await InvokeAsync(() =>
        {
            SideBar0.Toggle();
        });
        await InvokeAsync(() =>
        {
            body0.Toggle();
        });
    }
    
    private async Task Logout(){
        await UserSession.FinishSession();
        NavigationManager.NavigateTo("/Login");
    }
 

}