@page "/account/register"

<section class="section-content padding-y bg">

    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
        <article class="card-body">
            <header class="mb-4"><h4 class="card-title">Register</h4></header>
            <EditForm Model="model" OnValidSubmit="SubmitAsync">

                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-row">
                    <div class="col form-group">
                        <label>First name</label>
                        <InputText @bind-Value="model.ClientName" type="text" class="form-control" />
                    </div>
                    <div class="col form-group">
                        <label>Last name</label>
                        <InputText @bind-Value="model.ClientLastName" type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label>Номер телефона</label>
                    <InputText @bind-Value="model.ClientNumber" type="tel" class="form-control" />
                </div> 
                <div class="form-group">
                    <label>Адрес</label>
                    <InputText @bind-Value="model.ClientAddress" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>E-mail</label>
                    <InputText @bind-Value="model.ClientEmail" type="email" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <InputText @bind-Value="model.ClientPassword" type="password" class="form-control" />
                </div>
@*                <div class="form-group">
                    <label>Confirm password</label>
                    <InputText @bind-Value="model.ConfirmPassword" type="password" class="form-control" />
                </div>
*@                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Register </button>
                </div>
            </EditForm>
        </article>
    </div>

    <p class="text-center mt-4">Have an account? <a href="/account/login">Log In</a></p>
    <br /><br />

</section>
