@page "/admin"
<AuthorizeView Roles="Администратор" Context="_context">
    <Authorized>
          <RadzenContent Container="main">
            <ChildContent>
                <RadzenHeading Size="H1" Text="Администирование">
                </RadzenHeading>
                <div class="row">
                    <div class="col-md-12">
                        <RadzenButton Icon="assignment_returned" style="margin-bottom: 10px" Text="Создать резервную копию базы данных базы данных" Click="@GetDoc">
                        </RadzenButton>
                        <MudFileUpload T="IBrowserFile" FilesChanged="UploadFile" Accept=".bak" style="margin-bottom: 10px">
                            <ButtonTemplate>
                                <MudButton HtmlTag="label"
                                            Variant="MudBlazor.Variant.Filled"
                                            DisableElevation="true"
                                            Color="Color.Primary"
                                            StartIcon="@Icons.Filled.CloudUpload"
                                            for="@context">
                                        Востановить базу данных
                                </MudButton>
                            </ButtonTemplate>
                        </MudFileUpload>
                    </div>
                </div>
            </ChildContent>
        </RadzenContent>
    </Authorized>
     <NotAuthorized>
        <RadzenLabel Style="text-align:center" Text="Права доступа отсутствуют" />
    </NotAuthorized>
</AuthorizeView>
